@{
    ViewBag.Title = "Cookies";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Nunc ut orci a libero molestie semper. Morbi nec odio ac mi sodales porttitor. Phasellus massa massa, 
    scelerisque nec magna eget, tempor aliquam eros. Etiam consectetur blandit tellus vitae euismod. Fusce 
    id ipsum lectus. Donec vel fermentum sem, vitae euismod urna. Sed mattis dignissim eros vitae pellentesque. 
    Morbi maximus quam dui, eu interdum metus finibus id. Sed vitae dapibus tortor. Nulla feugiat dictum metus 
    vitae semper. Donec eu urna pharetra, accumsan augue id, finibus nulla. Quisque pharetra dignissim enim, 
    vestibulum bibendum arcu. Praesent lobortis lacus et justo facilisis finibus. Praesent fringilla, tellus 
    mattis ultricies finibus, augue tortor molestie magna, id congue dui neque et nunc.
</p>
<p>
    Donec a libero eget sem sagittis facilisis a vel purus. Suspendisse potenti. Fusce gravida placerat sem 
    id pulvinar. Curabitur tincidunt faucibus tortor. Sed id massa vestibulum, aliquam elit in, tempor justo. 
    Morbi ante neque, tempus at mattis at, pulvinar eget odio. Donec vulputate felis eu arcu sagittis suscipit. 
    Aenean orci lacus, fermentum eu volutpat eu, efficitur quis velit. Duis dolor urna, egestas ut sodales non, 
    lobortis sit amet velit. Donec elementum eget massa non rhoncus. Sed sit amet velit sit amet nisl efficitur 
    aliquam. Vivamus rutrum, quam non facilisis sollicitudin, nisl est efficitur lorem, quis mattis diam mauris 
    quis risus. Ut vel posuere mauris. Sed pulvinar dictum risus in viverra. Duis porta pharetra libero, 
    ullamcorper interdum dui pharetra at.
</p>
<p>
    Donec sit amet lacus vitae elit ullamcorper ultrices eu sed augue. Sed non libero rhoncus, suscipit 
    nulla ut, lacinia ex. Suspendisse eu lacus in est dictum vulputate. Donec in pretium ante, in luctus 
    leo. Nullam imperdiet eros in turpis cursus congue. Integer consectetur non purus vitae congue. Suspendisse 
    potenti. Cras egestas, mauris ac mattis venenatis, sem diam pharetra ex, ac porttitor elit ante ac arcu.
</p>
