@using WebApplication1.Models
@model JobListModel
@{
    ViewBag.Title = "Edit";

}

@using (Html.BeginForm("EditJob", "Home", FormMethod.Post))
{
    <h2>Edit Job</h2>
    @Html.Hidden("JobID",@Model.JobInfo.jobid)
    <div class="row">
        <div class="col-md-3">
            Job Title
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.JobInfo.JobTitle, new { Name = "JobTitle" })
                  </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Job Description
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.JobInfo.JobDescription, new { Name = "JobDescription" })
         
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <input type="submit" value="Save" class="btn btn-primary btn-lg" />
            <a class="btn btn-primary btn-lg" href="/Home/Index">Cancel</a>
        </div>
    </div>

}

