@using WebApplication1.Models
@model JobListModel


@{
ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <p class="lead underline-text">A Sample Home Page.</p>
    <p><a class="btn btn-primary btn-lg">View Jobs &raquo;</a></p>
  <a class="btn btn-primary btn-lg"  href="/Home/Create">Create Job</a>
</div>
<br/>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr class="grid-header">
            <th>Job ID</th>
            <th>Job Title</th>
            <th>Job Description</th>
            <th>Start Date</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>
       
            @for (int i = 0; i < Model.Jobs.Count;i++ )
            {
                <tr>
                    <td>@Model.Jobs[i].JobId</td>
                    <td><a href="#">@Model.Jobs[i].Title</a></td>
                    <td>@Model.Jobs[i].Description</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="/Home/Edit?id=@Model.Jobs[i].JobId">Edit</a>
                   &nbsp; <a href="/Home/Delete?id=@Model.Jobs[i].JobId">Delete</a></td>
                </tr>
            }
    </tbody>
</table>
